<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender recommendation page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <style>
      h1 {
        color: green;
        font-size: 36px;
      }
    </style>
</head>

<body>
  <h1>Here are some recommendations for you:</h1>

    <p>Popular movie recommendation:</p>
    <ul>
      <li>{{popular_recommender()}}</li>
    </ul>

    <p>Random movie recommendation:</p>
    <ul>
      <li>{{random_recommender()}}</li>
    </ul>

    <h1>Here are the votes you gave to the movies:</h1>
      <ul>
        {% for v in votes %}
        <li>{{ v }} {{votes[v]}}</li>
        {% endfor %}
      </ul>
</body>
